[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
"http.client" = "*"
yamllint = "*"
ansible-lint = "*"
ansible = "*"
molecule = {extras = ["docker"], version = "*"}
docker = "*"
molecule-hetznercloud = "*"
hcloud = "*"
flake8 = "*"
pymarkdownlnt = "*"

[dev-packages]

[requires]
python_version = "3.11"
